td {
    text-align: center;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

table {
    border-collapse : collapse ;
}

.grey {
    background-color: grey;
}

.no-watch {
    background-color : red ;
}

.red>td{
    background-color : lightcoral;
}

.green>td{
    background-color : lightgreen;
}

.tete {
    display: grid;
    grid-template-columns: 14fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.un {
    grid-column: 1;
    grid-row: 1;
    padding: 20px;
}

.deux {
    grid-column: 2;
    grid-row: 1;
    padding: 20px;
}

.trois {
    grid-column: 3;
    grid-row: 1;
    padding: 20px;
}

.quatre {
    grid-column: 4;
    grid-row: 1;
    padding: 20px;
}

.cinq {
    grid-column: 5;
    grid-row: 1;
    padding: 20px;
}