td {
    text-align: center;
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.grey > td {
    background-color: grey;
    padding: 2px;
}

.no-watch {
    background-color: red;
}

.watch {
    background-color: green;
}

.red > td {
    background-color: lightcoral;
}

.green > td {
    background-color: lightgreen;
}

.tete {
    display: grid;
    grid-template-columns: 45fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr;
    text-align: center;
}

._1 {
    grid-column: 1;
    grid-row: 1;
    padding: 15px;
}

._2 {
    grid-column: 2;
    grid-row: 1;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 15px;
}

._3 {
    grid-column: 3;
    grid-row: 1;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 15px;
}

._4 {
    grid-column: 4;
    grid-row: 1;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 15px;
}

._5 {
    grid-column: 5;
    grid-row: 1;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 15px;
}

._6 {
    grid-column: 6;
    grid-row: 1;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 15px;
}

.nom_anime {
    width: 23%;
}

.type_music {
    width: 9%;
}

.numero_music {
    width: 2%;
}

.nom_music {
    width: 26%;
}

.nom_artist {
    width: 26%;
}

.lien {
    width: 5%;
}

.favo {
    width: 2%;
    user-select: none;
}

/*div > a {
    color: darkblue;
}*/

div > a {
    color: black;
    text-decoration: none;
}