td {
    text-align: center;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

table {
    border-collapse : collapse ;
}

.no-watch {
    background-color : red ;
}

.grey{
    background-color : grey;
}

.red>td{
    background-color : lightcoral;
}

.green>td{
    background-color : lightgreen;
}